@use 'sass:map';

$breakpoints: (
  "sm": 568px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
);

@mixin sm {
  @media screen and (min-width: map.get($breakpoints, "sm")) { @content; }
}

@mixin md {
  @media screen and (min-width: map.get($breakpoints, "md")) { @content; }
}

@mixin lg {
  @media screen and (min-width: map.get($breakpoints, "md")) { @content; }
}

@mixin xl {
  @media screen and (min-width: map.get($breakpoints, "xl")) { @content; }
}

$primaryColor: #006085;
$primaryColorAccent: #0079A7;
$defaultTextShadow: 1px 1px 5px rgba(0, 0, 0, 0.5);