html, body, #app {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  position: relative;
  z-index: 1;

  background: url('../images/robin-blue-wallpaper.jpg');
  background-repeat: repeat;

  color: $white;
  font-family: 'Lora', serif;

  * {
    box-sizing: border-box;
  }
}

main {
  min-height: 600px;
  width: 700px;
  max-width: 90vw;

  margin: 40px auto;
  padding: 20px 0;

  background-image: url('../images/vintage-dark-blue-wallpaper.png');
  background-repeat: repeat;
  border-radius: 4px;
  box-shadow: 0px 5px 20px 3px #2A335A;

  @include lg {
    min-height: 900px;
    width: 1100px;

    padding: 40px 0;
  }
}

section {
  max-width: 95%;
  margin: auto;
  padding: 0 5% 30px;

  &.full {
    max-width: 100%;
    padding: 0;
  }
}

hr {
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: $white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: $defaultTextShadow;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
  line-height: 1.5em;
  margin: 0;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
}

p {
  max-width: 80%;
  margin: 20px auto;

  letter-spacing: 0.2px;
  line-height: 1.3em;
}

button, .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  min-width: 150px;
  padding: 5px 10px;
  border: 3px solid $white;

  background-color: $colorPeony;
  font-size: 28px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  text-align: center;
  text-shadow: $defaultTextShadow;

  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: lighten($colorPeony, 10);
  }
}

.img-wrapper {
  position: relative;

  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.8) inset;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}
