html, body, #app {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px 0 100px;
  position: relative;
  z-index: 1;

  background-color: $primaryColor;
  color: $white;
  font-family: 'Lora', serif;

  * {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

#app {
  position: relative;
  z-index: 2;
}

nav, footer, header, main {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  @include sm { max-width: 540px; }
  @include md { max-width: 600px; }
  @include lg { max-width: 800px; }
  @include xl { max-width: 1000px; }

  position: relative;
}

main {
  min-height: 400px;
}

section {
  width: 95vw;
  max-width: 800px;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6, p {
    color: $white;
    margin-bottom: 20px;
    text-shadow: $defaultTextShadow;
  }

  & > h2 {
    margin-bottom: 30px;

    font-size: 38px;
    text-align: center;

    @include lg {
      text-align: left;
    }
  }

  p {
    font-size: 20px;
    text-align: center;

    &.help {
      font-size: 15px;
    }
  }
}

button, .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  min-width: 150px;
  padding: 5px 10px;
  border: 3px solid $white;

  background-color: $colorPeony;
  font-size: 28px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  text-align: center;
  text-shadow: $defaultTextShadow;

  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: lighten($colorPeony, 10);
  }
}

.img-wrapper {
  position: relative;

  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.8) inset;
    pointer-events: none;
  }
}

