html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 50px;
  position: relative;
  z-index: 1;

  background-color: $primaryColor;
  color: white;
  font-family: 'Lora', serif;

  * {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

#app {
  position: relative;
  z-index: 2;

  overflow-y: auto;
}

nav, footer, header, main {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  @include sm { max-width: 540px; }
  @include md { max-width: 600px; }
  @include lg { max-width: 800px; }
  @include xl { max-width: 1000px; }

  position: relative;
}

main {
  min-height: 400px;
}

section {
  width: 95vw;
  max-width: 800px;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6, p {
    color: white;
    margin-bottom: 20px;
    text-shadow: $defaultTextShadow;
  }

  p {
    font-size: 20px;
    text-align: center;
  }
}

button {
  min-height: 40px;
  min-width: 150px;
  padding: 5px 10px;
  border: 3px solid white;

  background-color: $primaryColor;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: $defaultTextShadow;

  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: $primaryColorAccent;
  }
}
